<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    "type_station/application", media: "all" %>
  <%= javascript_include_tag "type_station/application" %>

  <%= csrf_meta_tags %>

  <%= inline_edit_js %>
</head>
<body>

<%= yield %>

</body>
</html>
