<%= Cloudinary::Utils.sign_request(Cloudinary::Uploader.build_upload_params({}), {}) %>
<%= testing_helper %>
<%= testing_again %>

<%- present @page, IndexPresenter do |p| %>
<ul>
  <%- @page.children(order_by: {position: :desc}).where( _type: 'TypeStation::Page').each do |page| %>

    <%- present page do |sp| %>
    <li>
      <%= link_to page.title, page.path %>
      <%= sp.edit content_tag: :button, presenter: IndexPresenter do %>
        edit
      <%- end %>
      <%= sp.move :up, content_tag: :button do %>
        move up
      <%- end %>
      <%= sp.move :down, content_tag: :button do %>
        move down
      <%- end %>
      <%= page.get :tags %>
      </li>

    <%- end %>
  <%- end %>
</ul>

<h1>
<%= p.create :page, presenter: IndexPresenter do %>
  <small>New page</small>
<%- end %>
</h1>

<p>
  <%= p.field :title_b do %>
    Hello
  <%- end %>
</p>

<h1>
<%= p.field :title_c do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<%- end %>
</h1>

<h1>
<%= p.field :title_c do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<%- end %>
</h1>


<%= p.field :body, type: :html do %>
  <h4>Test</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%- end %>



<%= p.field :body_two, type: :html do %>
  <h4>Test</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%- end %>


<%= p.field :image_one, type: :image do |image| %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <%= image.tag 'http://lorempixel.com/400/200/', width: 200, height: 200, class: 'test', crop: :fill %>
  <%= image.tag 'http://lorempixel.com/400/200/', width: 500, height: 200, class: 'test', crop: :fill %>
  <%= image.tag 'http://lorempixel.com/400/200/', width: 100, height: 200, class: 'test', crop: :fit %>


  <%= p.field :image_body, type: :html do %>
    <h4>Test</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%- end %>

<%- end %>


<%= p.field :file, type: :file do |file| %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%= file.link 'http://lorempixel.com/400/200/', class: 'text', title: 'hello' do %>
    Hello
  <%- end %>
<%- end %>


<h1>
<%= p.create :team do %>
  <small>New Team</small>
<%- end %>
</h1>

<ul>
  <%- p.teams.each do |team| %>
    <%- present team do |tp| %>
    <li>
      <h1>
        <%= tp.field :first_name do %>
          Untitiled
        <%- end %>
        <%= tp.field :last_name do %>
          Untitiled
        <%- end %>
      </h1>

      <%= tp.field :body, type: :html do %>
        <h4>Test</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <%- end %>

      <%= tp.field :image, type: :image do |image| %>
        <%= image.tag 'http://lorempixel.com/400/200/', width: 200, height: 200, class: 'test', crop: :fill %>
      <%- end %>

    </li>
    <%- end %>
  <%- end %>
</ul>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1>
<%= p.field :title_b do %>
  Hello
<%- end %>
</h1>
<%- end %>

<%= ts_admin_toolbar(@page, templates: {index_other: 'Main', blank_index: 'Blank'}) %>
