<%= Cloudinary::Utils.sign_request(Cloudinary::Uploader.build_upload_params({}), {}) %>
<%= testing_helper %>
<%= testing_again %>

<%= ts_page(:team) %>

<ul>
  <%- @page.children.each do |page| %>
    <li><%= link_to page.title, page.path %></li>
  <%- end %>
</ul>

<div style='margin:40px;'>
  <h1>
<%= ts_editable @page, :title_b do %>
  Hello
<%- end %>
<%= ts_new :page, @page, content_tag: :span do %>
  <small>New page</small>
<%- end %>
</h1>

<h1>
<%= ts_editable @page, :title_c do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<%- end %>
</h1>

<h1>
<%= ts_editable @page, :title_c do %>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
<%- end %>
</h1>


<%= ts_editable @page, :body, type: :html do %>
  <h4>Test</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%- end %>

<%- @page.children.each do |page| %>
  <%= ts_editable page, :image_one, type: :image do |image| %>
    <%= ts_image_tag(image.identifier || 'http://lorempixel.com/100/100/', width: 100, height: 100, class: 'test', crop: :fit) %>
  <%- end %>
<%- end %>



<%= ts_editable @page, :body_two, type: :html do %>
  <h4>Test</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%- end %>


<%= ts_editable @page, :image_one, type: :image do |image| %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%= ts_image_tag(image.identifier || 'http://lorempixel.com/400/200/', width: 200, height: 200, class: 'test', crop: :fill) %>
  <%= ts_image_tag(image.identifier || 'http://lorempixel.com/400/200/', width: 500, height: 200, class: 'test', crop: :fill) %>
  <%= ts_image_tag(image.identifier || 'http://lorempixel.com/400/200/', width: 100, height: 200, class: 'test', crop: :fit) %>


  <%= ts_editable @page, :image_body, type: :html do %>
    <h4>Test</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%- end %>

<%- end %>


<%= ts_collection @page, :image_one do || %>
  
  <li><%= ts_image_tag(image.identifier || 'http://lorempixel.com/400/200/', width: 200, height: 200, class: 'test', crop: :fill) %></li>


  <%= ts_editable @page, :title_c do %>

  <%- end %>
<%- end %>


<ul>
  <%= ts_new :collection, :gallery_name, content_tag: :li do %>
    + Add
  <% end %>
  <%= ts_collection @page, :gallery_name, content_tag: :li do %>
    <div class="image">
      <%= ts_editable @page, :image, type: :image do |image| %>
        <%= ts_image_tag(image.identifier, width: 200, height: 200, class: 'test', crop: :fill) %>
      <% end %>
    </div>
    <div class="caption">
      <%= ts_editable @page, :caption do %>
        Default Caption
      <% end %>
    </div>
  <% end %>
</ul>



<%= ts_editable @page, :file, type: :file do |file| %>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <%= ts_link_to(file.identifier || 'http://lorempixel.com/400/200/', class: 'text', title: 'hello') do %>
    Hello
  <%- end %>
<%- end %>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<h1>
<%= ts_editable @page, :title_b do %>
  Hello
<%- end %>
</h1>

<%= type_station_admin_toolbar(@page) %>
